<div class="lookbook-title-sec" style="padding: 40px 0 20px; text-align:left;">
  <h1>Editar Peça</h1>
  <p>Altere as informações ou fotos da peça no lookbook</p>
</div>

<%= render "form", product: @product %>
