<div class="lookbook-title-sec" style="padding: 40px 0 20px; text-align:left;">
  <h1>Adicionar Nova Peça</h1>
  <p>Crie um novo anúncio no lookbook do brechó</p>
</div>

<%= render "form", product: @product %>
